
  .container {
    margin: 0 auto; 
    max-width: 1200px; 
    padding: 0 100px; 
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 200px 1000px;
    row-gap: 0px; 
    column-gap: 10px;
    align-items: center;
    margin-top: 5px; 
    margin-bottom: 5px;
  }
.grid-container input[type="text"],
.grid-container input[type="password"],
.grid-container input[type="button"] {
    height: 40px;
}
  label {
    text-align: left; 
    
  }
  
  .full-width {
    grid-column: span 2; 
  }

  .choose{
    padding: 10px;
     border: none;
    border:2px solid #dadada;
    border-radius:8px;
    margin: 0px;
 }